@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Sora:wght@200;500&family=Ubuntu:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    margin: auto;
    background-color: black;
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    background-color: brown;
    padding: 20px;
    margin-top: 2em;
    border-radius: 5px;
}

.title {
    color : brown;
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    background-color: rgb(190, 180, 180);
    padding: 10px;
    border-radius: 5px;
}

.result {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
     padding: 20px;
    flex-direction: column;
    justify-content: start;
    background-color: brown;
    border-radius: 5px;
    
}

.copywhrite
{
    display: flex;
    margin-top: 3em;
    justify-content: center;
}

.allContent
{
    margin-top: 4em;
}

@media (max-width: 600px) {
    body {
        width: 100%;

    }
    .result {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 10px;
         padding: 20px;
         margin: 20px;
        flex-direction: column;
        justify-content: start;
        background-color: brown;
        border-radius: 5px;
        
    }
    form {
        display: flex;
        flex-direction: column;
        background-color: brown;
        padding: 20px;
        margin: 20px;
        margin-top: 2em;
        border-radius: 5px;
    }
    .title {
        color : brown;
        display: flex;
        margin-bottom: 0px;
        margin: 20px;
        font-size: 20px;
        justify-content: center;
        background-color: rgb(190, 180, 180);
        padding: 10px;
        border-radius: 5px;
    }

}